.postPage .grid {
    display: block
}

.postPage .post {
    padding-bottom: 32px;
    border: 0;
}

.postPage .post:hover {
    background: none;
    border-radius: 0
}

.postPage .title,
.postPage .title:visited {
    margin-top: 10px;
    font-size: 23px
}

.postPage .post h2 {
    font-size: 18px
}

.postPage .main-image {
    width: 230px;
    height: 230px;
}

.postPage .main-image img {
    max-width: 230px;
    max-height: 230px;
}

.comments {
    margin-bottom: 32px
}